.hi {
    justify-content: space-around;
    display: flex;
    padding-top: 10%;
}

.hello {
    width: 400px;
    height: 400px;
    text-align: center;
    padding-top: -0%;
    border-radius: 20%;
    box-shadow: 0 2px 4px;
    border-radius: 30px;
    border: 2px solid white;
    backdrop-filter: blur(20px);
    color: white;
    background-image: url(https://cdn.pixabay.com/photo/2019/10/26/21/27/mountains-4580418_1280.jpg);
    background-repeat: no-repeat;
    background-size: 500px 400px;
}

.jai {
    width: 400px;
    height: 400px;
    text-align: center;
    padding-top: -0%;
    border-radius: 20%;
    box-shadow: 0 2px 4px;
    border-radius: 30px;
    border: 2px solid white;
    backdrop-filter: blur(20px);
    color: white;
    background-image: url(https://img.freepik.com/free-photo/beautiful-shot-waterfall-coming-down-from-mountains_181624-1282.jpg);
    background-repeat: no-repeat;
    background-size: 400px 400px;
}

.hee {
    width: 400px;
    height: 400px;
    text-align: center;
    padding-top: -0%;
    border-radius: 20%;
    box-shadow: 0 2px 4px;
    border-radius: 30px;
    border: 2px solid white;
    backdrop-filter: blur(20px);
    color: white;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCn19UtOHax4FY1KSZ6xJK59j8AAIEJGU5bg&s);
    background-repeat: no-repeat;
    background-size: 400px 400px;
}

.body {
    background-image: url(https://cdn.pixabay.com/photo/2021/07/16/15/29/hellebore-6471156_640.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 750px;
}

.button {
    border-radius: 30px;
    box-shadow: 300px;
    background-color: darkslategrey;
    color: aliceblue;
}

.h1 {
    padding-top: 70%;
}